<div class="page-header">
  <h3>Bookmark #<%= @bookmark.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Investor</dt>
      <dd>
        <% if @bookmark.user.present? %>
          <a href="/investors/<%= @bookmark.investor_id %>">
            <%= @bookmark.user.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Property</dt>
      <dd>
        <% if @bookmark.property.present? %>
          <a href="/properties/<%= @bookmark.property_id %>">
            <%= @bookmark.property.airbnb_price %>
          </a>
        <% end %>
      </dd>

      <dt>Pathway</dt>
      <dd>
        <% if @bookmark.pathway.present? %>
          <a href="/pathways/<%= @bookmark.pathway_id %>">
            <%= @bookmark.pathway.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Joint venture</dt>
      <dd>
        <% if @bookmark.joint_venture.present? %>
          <a href="/joint_ventures/<%= @bookmark.joint_venture_id %>">
            <%= @bookmark.joint_venture.investor_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bookmarks" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @bookmark.user %>
        <a href="/bookmarks/<%= @bookmark.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_bookmark/<%= @bookmark.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
