<div class="page-header">
  <h3>Property #<%= @property.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Airbnb price</dt>
      <dd><%= @property.airbnb_price %></dd>

      <dt>Listing price</dt>
      <dd><%= @property.listing_price %></dd>

      <dt>Sublease price</dt>
      <dd><%= @property.sublease_price %></dd>

      <dt>Region</dt>
      <dd><%= @property.region_id %></dd>

      <dt>Pathway</dt>
      <dd><%= @property.pathway_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/properties" class="btn btn-primary">
        Back
      </a>
      <a href="/properties/<%= @property.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_property/<%= @property.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Property has many bookmarks -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Bookmarks
      </li>

      <% @property.bookmarks.each do |bookmark| %>
        <li class="list-group-item">
          <a href="/bookmarks/<%= bookmark.id %>">
            <%= bookmark.investor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/bookmarks/<%= bookmark.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/bookmarks/<%= bookmark.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_bookmark/<%= bookmark.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_bookmark" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for investor_id -->
      <input type="hidden" name="investor_id" value="<%= current_user.id %>">

      <!-- Label and input for property_id -->
      <input type="hidden" name="property_id" value="<%= @property.id %>">

      <!-- Label and input for pathway_id -->
      <div class="form-group">
        <label for="pathway_id" class="control-label">
          Pathway
        </label>

        <%= select_tag(:pathway_id, options_from_collection_for_select(Pathway.all, :id, :created_at), :class => "form-control") %>
      </div>

      <!-- Label and input for joint_venture_id -->
      <div class="form-group">
        <label for="joint_venture_id" class="control-label">
          Joint venture
        </label>

        <%= select_tag(:joint_venture_id, options_from_collection_for_select(JointVenture.all, :id, :investor_id), :class => "form-control") %>
      </div>

      <button class="btn btn-block btn-success">
        Create Bookmark
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Property has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @property.users.each do |investor| %>
        <li class="list-group-item">
          <a href="/investors/<%= investor.id %>">
            <%= investor.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/investors/<%= investor.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/investors/<%= investor.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_investor/<%= investor.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Property has many joint_ventures -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Joint Ventures
      </li>

      <% @property.joint_ventures.each do |joint_venture| %>
        <li class="list-group-item">
          <a href="/joint_ventures/<%= joint_venture.id %>">
            <%= joint_venture.investor_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/joint_ventures/<%= joint_venture.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/joint_ventures/<%= joint_venture.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_joint_venture/<%= joint_venture.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
