<div class="page-header">
  <h3>Property #<%= @property.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Airbnb price</dt>
      <dd><%= @property.airbnb_price %></dd>

      <dt>Listing price</dt>
      <dd><%= @property.listing_price %></dd>

      <dt>Sublease price</dt>
      <dd><%= @property.sublease_price %></dd>

      <dt>Region</dt>
      <dd><%= @property.region_id %></dd>

      <dt>Pathway</dt>
      <dd><%= @property.pathway_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/properties" class="btn btn-primary">
        Back
      </a>
      <a href="/properties/<%= @property.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_property/<%= @property.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
