<div class="page-header">
  <h1>
    Joint venture requests
    <a href="/joint_venture_requests/new" class="btn btn-lg btn-success">New Joint venture request</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Actions</th>
      </tr>

      <% @joint_venture_requests.each do |joint_venture_request| %>
      <tr>
        <td><%= joint_venture_request.sender.created_at %></td>
        <td><%= joint_venture_request.receiver.created_at %></td>
        <td>
          <a href="/joint_venture_requests/<%= joint_venture_request.id %>" class="btn btn-primary">Show</a>
          
          <% if current_user == joint_venture_request.sender %>
            <a href="/joint_venture_requests/<%= joint_venture_request.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_joint_venture_request/<%= joint_venture_request.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
