<div class="page-header">
  <h3>Joint Venture Request #<%= @joint_venture_request.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Sender</dt>
      <dd><%= @joint_venture_request.sender_id %></dd>

      <dt>Receiver</dt>
      <dd><%= @joint_venture_request.receiver_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/joint_venture_requests" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @joint_venture_request.sender %>
        <a href="/joint_venture_requests/<%= @joint_venture_request.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_joint_venture_request/<%= @joint_venture_request.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
